/*Artist and album container*/


.result-card .headings {
    max-width: 75%;
}

/*Results*/
.results-cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #00000049;
    border-radius: 10px;
    margin-top: 21px;
}

.result-card {
    border-radius: 15px;
    color: #b7cfd5;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 4px;
    padding: 6px;
}

/*Add button*/
.result-card .add{
    border-radius: 5px;
    border: 3px solid #06262e;
    padding: 6px 10px;
    font-size: 13px;
    color: #b7cfd5;
    background-color: #072831;
    font-weight: bold;
    z-index: 10;
    right: 1.4em;
    top: 2em;
    min-width: 15em;
    position: absolute;
}

.add-again {
    font-size: 13px;
    margin: 0px;
}

p.add-option-text {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

p.add-option-text span {
    margin: 0px;
}

#options {
    margin-left: 10px;
    background-color: #072831;
    border: none;
    border-radius: 0.2em;
    color: #fea500;
    font-weight: bold;
    font-size: 1.3em;
}

.card-bttns {
    display: flex;
    width: 20%;
    height: 35px;
    justify-content: flex-end;
    flex-wrap: nowrap;
    position: relative;
}

/*@media only screen and (max-width: 850px) {
    .result-card .headings {
        width: 75%;
    }
}

@media only screen and (max-width: 725px) {
    .result-card .headings {
        width: 70%;
    }
}

@media only screen and (max-width: 650px) {
    .result-card .headings {
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {
    .result-card .headings {
        width: 70%;
    }
}*/

.duration {
    font-size: 12px;
}