/* Base Styles for Results Container */
.results-cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #00000000; /* Transparent background */
    border-radius: 10px;
    overflow: hidden;
}

/* Base Styles for Individual Result Cards */
.result-card {
    background-color: #00000050; /* Semi-transparent black background */
    color: #b7cfd5; /* Light blue text color */
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
    opacity: 0; /* Start invisible for animation */
    animation: scaleUp 0.5s ease-out forwards; /* Animation applied */
}

/* Headings within Result Cards */
.result-card .headings {
    max-width: 75%;
}

/* Add Button Styles */
.result-card .add {
    border-radius: 5px;
    border: 3px solid #06262e;
    padding: 6px 10px;
    font-size: 13px;
    color: #b7cfd5;
    background-color: #072831;
    font-weight: bold;
    z-index: 10;
    right: 1.4em;
    top: 2em;
    min-width: 15em;
    position: absolute;
}

/* Additional Button Styles */
.add-again {
    font-size: 13px;
    margin: 0px;
}

/* Text Options within Add Button */
p.add-option-text {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

p.add-option-text span {
    margin: 0px;
}

.add-icon {
    color: #fea500;
    font-size: 1.3em;
}

/* Option Button Styles */
#options {
    margin-left: 10px;
    background-color: #072831;
    border: none;
    border-radius: 0.2em;
    color: #fea500; /* Orange color */
    font-weight: bold;
    font-size: 1.3em;
}

/* Button Container Styles */
.card-bttns {
    display: flex;
    width: 20%;
    height: 35px;
    justify-content: flex-end;
    flex-wrap: nowrap;
    position: relative;
}

/* Duration Text Style */
.duration {
    font-size: 12px;
}

/* Animation Keyframes Definition */
@keyframes scaleUp {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}