.cont {
    overflow: hidden;
    display: flex;
}

.added-card {
    border: 2px solid #805300;
    border-radius: 15px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 3px;
    padding: 4px;
}

.added-card button {
    border-radius: 5px;
    border: 2px solid #072831;
    padding: 4px 10px;
    font-size: 18px;
    color: #981212;
    background-color: #072831;
    font-weight: bold;
    min-width: 2.4em;
}

.added-card .headings {
    width: 85%;
}
