/*Headings*/


.added-card .headings {
    width: 70%;
}

/*Songs added to playlist*/
.added-card {
    opacity: 1;
    background-color: #00000050;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
    color: #b7cfd5;
    transition: transform 0.3s ease;
    animation: none;
}

.added-card.adding {
  animation: scaleUp 0.5s ease-out forwards;
}

/*Remove of playlist button*/
.remove-btn {
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    border: 1px solid #b7cfd5;
    padding: 6px 10px;
    font-size: 0.9em;
    color: #b7cfd5;
    background-color: #072831;
    font-weight: bold;
    right: 1.4em;
    top: 1em;
    min-width: 15em;
    position: absolute;
}

.options-btn {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    border-radius: 0.2em;
    color: #fea500;
    font-weight: bold;
    font-size: 1.3em;
}

.options-btn:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

.added-card .card-bttns {
    display: flex;
    width: 24%;
    height: 35px;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

@media (max-width: 650px) {
    .added-card .card-bttns {
        width: 24%;
        justify-content: flex-end;
    }

    .remove-btn {
        margin-left: 10px;
    }

    .added-card {
        justify-content: space-between;
    }
}

.sepcial {
    width: 35px;
}

.cont {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.added-card.removing {
    animation: scaleDown 0.2s ease-in forwards;
}

@keyframes scaleUp {
    from {
      opacity: 0;
      transform: scale(0.5);
      border-radius: 10px;
    }
    to {
      opacity: 1;
      transform: scale(1);
      border-radius: 0px;
    }
}

@keyframes scaleDown {
    from {
      opacity: 1;
      transform: scale(1);
      border-radius: 10px;
    }
    to {
      opacity: 0;
      transform: scale(0.5);
      border-radius: 0px;
    }
}
