.play {
    background: url(/public/resources/play.jpg);
}

.pause {
    background: url(/public/resources/pause.jpg);
}

.play,
.pause {
    background-size: cover;
    width: 35px;
    height: 35px;
    border: 2px solid #072831;
    border-radius: 5px;
    background-color: #072831;
    margin-left: 0px;
}

@media only screen and (max-width: 725px) {
    
}

@media only screen and (max-width: 650px) {
    
}

@media only screen and (max-width: 350px) {

}