/*Navegation buttons only for small screens*/
.nav-bttns-container {
    display: none;
  }

  @media only screen and (max-width: 650px) {
    .nav-bttns-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        border-top-left-radius: 20px;
        left: 15px;
        bottom: 50px;
      }
  }

/*Buttons*/
.nav-bttns-container button {
    width: 65px; 
    height: 65px; 
    margin: 5px 0;
    background-size: cover; 
    background-position: center; 
    border: none; 
    border-radius: 15px; 
    cursor: pointer; 
    transition: transform 0.2s; 
  }
  
/* Specific styles for each button */
.search-section-bttn {
    background-image: url('/public/resources/uparrow.jpg'); 
  }
  
.playlist-section-bttn {
    background-image: url('/public/resources/downarrow.jpg'); 
  }
  
  /* Add a hover effect to make it more interactive */
.nav-bttns-container button:hover {
    transform: scale(1.1); 
  }
  