.volume-control-container {
  width: 400px;
  position: fixed;
  bottom: 20px;
  padding: 10px;
  background-color: #072831;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 650px) {
  .volume-control-container {
    width: 250px;
  }
}

.volume-control-container input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 15px; 
  color: #000000;
  background-color: transparent;
}

@media only screen and (max-width: 650px) {
  .volume-control-container {
    display: none;
  }
}

/* Track styles */
.volume-control-container .track {
  height: 8px;
  width: 100%;
  border-radius: 4px;
  background: #ddd;
}

/* Thumb styles */
.volume-control-container .thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #fea500;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: transform 0.1s ease;
}

.volume-control-container .thumb:hover {
  transform: scale(1.3);
}

