.added-cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #00000049;
    border-radius: 10px;
}

.Playlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    width: fit-content;
    color: #b7cfd5;
    padding: 9px 0px 21px 0px;
}

@media (max-width: 650px) {
    .Playlist {
        margin-top: 15px;
    }
}
