@keyframes slideText {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slide {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.slide span {
  display: inline-block;
  animation: slideText linear infinite;
  white-space: nowrap;
}